[submodule "themes/hexo-theme-demo"]
	path = themes/hexo-theme-demo
	url = git@upcwangying.github.com:upcwangying/hexo-theme-demo.git
[submodule "themes/hexo-theme-vango"]
	path = themes/hexo-theme-vango
	url = git@upcwangying.github.com:vangojs/hexo-theme-vango.git
